// Header Responsive 

@media (max-width: 800px) {
  header .carrito-img {
    display: none;
  }
}

@media (max-width: 768px) {
  .hideOnMobile {
    display: none;
  }
  .menu-button {
    display: block;
    position: absolute;
    right: 0;
    margin-right: 10px;
    z-index: -1;
  }
}
@media (max-width: 400px) {
  .sidebar {
    width: 100%;
  }
}
