main {
  .section-menu {
    @include d-flex(flex, center, center, 35px);
  }
  .cards-section {
    display: grid;
    padding: 15px;
    gap: 6.25em;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    @include justify-align(center, center);
    .card {
      @include sizes(18rem, 350px);
      background-color: #e3cff3;
      border: 1px solid $letras;
      border-radius: 10px;
      font-family: $fuente-general !important  ;
      transition: 0.5s;
      overflow: hidden;
    }
    .card:hover {
      box-shadow: 0px 0px 50px rgba(0, 0, 0, 1);
    }
  }
}
