main {
  .section-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 35px;
  }
  .cards-section {
    display: grid;
    gap: 6.25em;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    justify-content: center;
    align-items: center;
  }
  section {
    .cards {
      width: 18rem;
      height: 350px;
      background-color: #8f07ff;
      border: 1px solid black;
      border-radius: 10px;
      font-family: Arial, Helvetica, sans-serif !important  ;
      transition: 0.5s;
    }

    .letras-cards {
      display: inline-flex;
      flex-direction: column;
      margin-left: 10px;
    }
    h3 {
      display: inline-flex;
      font-size: 1rem;
    }
    .precio {
      display: flex;
      font-style: italic;
    }
    .button-card {
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #2c88d9;
      width: 5rem;
      height: 25px;
      border: 1px solid black;
      border-radius: 17px;
      margin-left: 40px;
      cursor: pointer;
      transition: 0.5s;
    }
  }
}

// NO TIENEN EFECTO HOVER LAS CARDS ARREGLARRRRRRRRRRRRRRRR
