main .section-sucursales,
.mapas-section {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 35px;
  .mapas-contenedor {
    display: flex;
    gap: 10px;
    width: 100%;
    .mapa1-contenedor {
      width: 700px;
      .mapa1 {
        position: relative;
        overflow: hidden;
        width: 100%;
        padding-top: 56.25%;
        iframe {
          position: absolute;
          top: 0;
          left: 0;
          bottom: 0;
          right: 0;
          width: 100%;
          height: 100%;
        }
      }
    }
    .mapa2-contenedor {
      width: 700px;

      .mapa2 {
        position: relative;
        overflow: hidden;
        width: 100%;
        padding-top: 56.25%;
        iframe {
          position: absolute;
          top: 0;
          left: 0;
          bottom: 0;
          right: 0;
          width: 100%;
          height: 100%;
        }
      }
    }
  }
}
