main {
  .section-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 35px;
  }
  .cards-section {
    display: grid;
    padding: 15px;
    gap: 6.25em;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    justify-content: center;
    align-items: center;
    .card {
      width: 18rem;
      height: 350px;
      background-color: #e3cff3;
      border: 1px solid black;
      border-radius: 10px;
      font-family: Arial, Helvetica, sans-serif !important  ;
      transition: 0.5s;
      overflow: hidden;
    }
    .card:hover {
      box-shadow: 0px 0px 50px rgba(0, 0, 0, 1);
    }
  }
}
