.main-nosotros{
  @extend .section-menu;
  text-align: center;

  h1 {
    overflow: hidden;
    font-style: italic;
  }
  .apartado1,
  .apartado2 {
    display: flex;
    font-family: $fuente-general;
    gap: 250px;
    img {
      width: 100%;
      padding: 15px;
    }
    .texto-apartado2 {
      margin-right: 10px;
      p {
        margin-top: 30px;
        margin-bottom: 0;
      }
    }
  }
}